
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bodoni+Moda:opsz@6..96&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bodoni+Moda:opsz@6..96&family=Montserrat:wght@300&family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(
        140deg,
        hsl(0deg 0% 0%) 0%,
        hsl(343deg 0% 7%) 8%,
        hsl(343deg 0% 11%) 15%,
        hsl(344deg 0% 15%) 21%,
        hsl(344deg 0% 20%) 28%,
        hsl(344deg 0% 24%) 34%,
        hsl(344deg 0% 29%) 40%,
        hsl(344deg 0% 34%) 45%,
        hsl(344deg 0% 39%) 51%,
        hsl(344deg 0% 44%) 56%,
        hsl(344deg 0% 49%) 61%,
        hsl(344deg 0% 55%) 66%,
        hsl(344deg 0% 60%) 71%,
        hsl(344deg 0% 65%) 75%,
        hsl(344deg 0% 71%) 79%,
        hsl(344deg 0% 77%) 84%,
        hsl(344deg 0% 82%) 88%,
        hsl(344deg 0% 88%) 92%,
        hsl(344deg 0% 94%) 96%,
        hsl(0deg 0% 100%) 100%)
    }

body{
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    display: flex;
    background-color: #212120;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1000
}

header img{
    height: 30px;
    margin-left: 80px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    transition: color 0.3s ease;
    border: 1px solid transparent;
    border-radius: 5px;
}

.navigation{
    padding-left: 800px;
}

nav a:hover{
    /* border:1px solid rgb(231, 34, 7) ; */
    transition: .5s;
    color: rgb(231, 34, 7) ;
}


.title h1{
    font-size: 70px;
    
    color: white;
    font-family: sans-serif;
    padding-left: 50px;
    margin-left: 80px;
    margin-top: 200px;
    font-family: 'Audiowide', sans-serif;
 
}

.para p{
    text-align: justify;
    color: white;
    font-family: 'Audiowide', sans-serif;
    line-height: 40px;
    word-spacing: 1.5px;
    font-size: 20px;
    text-transform: uppercase;
}

.para{
    padding: 20px 150px 20px 400px;
}


.skills{
    margin-left: 80px;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;

}

.skills h2{
    color: white;
    font-size: 30px;
    font-family: 'Audiowide', sans-serif;
    padding-left: 55px;
}

.skills h3{
    color: white;
    text-align: center;
    padding-top: 25px;

}

.row{
    display: flex;
}

.skillBox{
    position: relative;
    width: 30%; 
    height: 200px;
    margin: 10px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #606060;
    border-radius: 10px;
    padding-top: 60px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}

.skillBox:hover {
    background-color: rgb(31, 30, 30); /* Change background color on hover */
}

.skillBox h3 {
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    /* opacity: 1; 
    transition: opacity 0.1s ease-in-out;  */
}

.skillBox:hover h3 {
    opacity: 0; /* Hide text with zero opacity on hover */
}

.logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.skillBox:hover .logo {
    display: inline-block;
    opacity: 1;
}


.skillBox h3{
    font-family: 'Audiowide', sans-serif;
}

.container{
    margin-top: 100px;
    padding-top: 50px;
    align-items: center;
    display: flex;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
   

    header img{
        height: 30px;
        margin-left: 30px;
    }

    .header{
        padding: 30px;
    }
    .title h1{
        font-size: 30px;
        color: white;
        font-family: sans-serif;
        padding-left: 20px;
        margin-left: 30px;
        margin-top: 150px;
        font-family: 'Audiowide', sans-serif;
    }

    .para p{
        /* text-align: justify; */
        color: white;
        font-family: 'Poppins';
        line-height: 20px;
        word-spacing: 1.5px;
        font-size: 15px;
        text-transform: uppercase;
    }
    .para{
        padding: 20px 110px 20px 40px;
    }

    .row {
        width: 100%; 
        display: block;
    }
}






@media (max-width: 480px) {
    .row {
        width: 100%; /* Full width on smaller screens */
    }

    .row.skillBox {
        width: 100%; /* Full width for a single box */
        margin: 0 auto; /* Center the box horizontally */
    }
}

